@import "../../styles/settings";
@import "../../styles/helpers";
@import "../../styles/fonts";

.content {
    background-color: $background-light;
    color: $white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.list {
    display: flex;
    flex-flow: row wrap;
    clear: both;
    margin: 0;
    justify-content: center;
}

.item {
    @include font-regular($size-big);

    display: inline-block;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    line-height: normal;

    svg {
        color: $text-secondary;
    }
}

.item-title {
    display: block;
    color: $text-secondary;
}
