@import "../../../styles/settings";

.avatar {
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: $hollow-shadow;
    width: 100px;
    height: 100px;
    top: -20px;

    &.rounded {
        border-radius: 50%;
    }
}
