@import "../resume";
@import "../../../styles/fonts";
@import "../../../styles/settings";

.heading {
    @include heading;
}

.esports-industry {
    @include content;

    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 2rem;

    @media screen and (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }
}

.entry {
    display: flex;
    flex-flow: row;
}

.position {
    color: $accent;
}

.content {
    @include font-regular($size-small);

    margin-left: 10px;

    h3 {
        color: $text-light;
    }

    span {
        color: $accent;
        display: block;
    }
}
