@import "src/styles/settings";

@mixin font-regular($size: $size-regular) {
    font-family: $font-primary;
    text-transform: none;
    font-size: $size;
    line-height: $size * 1.5;
    font-weight: 500;
    margin: 0;
}

@mixin font-heading($size: $size-headings) {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: $size;
    line-height: $size;
    font-weight: 600;
    margin: 0;
}

@mixin font-decor($size: $size-large) {
    font-family: $font-decorative;
    text-transform: none;
    font-size: $size;
    line-height: $size;
    font-weight: 500;
    margin: 0;
}

@mixin font-small($size: $size-smaller) {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 4px;
    font-size: $size;
    line-height: $size;
}

@mixin font-spaced($size: $size-smaller) {
    font-size: $size;
    line-height: $size * 1.4;
    text-transform: uppercase;
    letter-spacing: $size / 3;
    font-family: $font-primary;
    font-weight: 500;
    margin: 0;
}
