@import "src/styles/settings";

// Helper Mixins
@mixin content-padding($padding: $padding-regular, $paddingWide: $padding-content) {
    padding: $padding;

    @media screen and (min-width: 960px) {
        padding: $paddingWide;
    }
}

/*
* Requires that the parent element has "position: relative;"
*/
@mixin helper-center($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

@mixin helper-bottom-align {
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $padding-regular;
}

@mixin ellipsis($width: 100%) {
    max-width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin pseudo-removal {
    &::before,
    &::after {
        display: none;
    }
}

@mixin align-flex-center-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
