// Colors

$white: #fcfcfc;
$black: #000;
$invis: transparent;

$accent: #96a786;

$background-dark: #1a1b1c;
$background-light: lighten($background-dark, 0.8%);

$text-light: #dcdcdd;
$text-secondary: #b8b8b8;
$text-discreet: #737682;

// Font families

$font-primary: "Open-Sans", "Helvetica Neue", helvetica, arial, sans-serif;
$font-secondary: "Roboto-Condensed", "Helvetica Neue", helvetica, arial, sans-serif;

// Font sizes

$size-huge: 4rem; // 56px
$size-large: 2rem; // 26px
$size-headings: 1.385rem; // 18px
$size-big: 1.154rem; // 15px
$size-regular: 13px; // the base
$size-small: 0.923rem; // 12px
$size-smaller: 0.846rem; // 11px

// Paddings

$padding-large: 80px 20px 20px 20px;
$padding-regular: 20px;
$padding-small: 8px 20px;
$padding-smaller: 5px 10px;
$padding-content: 0 15%;

// Borders

$border-light: 1px solid #343437;
$border-dark: 1px solid #141415;

// Shadows

$hollow-shadow: 0 0 20px rgba($black, 0.5), inset 0 -14px 5px -12px rgba($white, 0.05);
