@import "../../styles/settings";
@import "../../styles/helpers";
@import "../../styles/fonts";

@mixin content {
    padding: 40px;
    text-align: justify;

    @media screen and (min-width: 768px) {
        width: 80%;
    }
}

@mixin heading {
    padding: 40px;
    display: block;

    h3 {
        color: $text-light;
    }

    @media screen and (min-width: 768px) {
        width: 20%;
        text-align: right;
        align-self: center;
    }
}
