@import "../../styles/settings";
@import "../../styles/helpers";

.header {
    margin: 0 auto;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
}

.content {
    @include align-flex-center-middle;

    flex-direction: column;
    flex-grow: 1;

}

.title {
    padding-top: 10vh;
    text-align: center;

    h1 {
        color: $text-secondary;
    }

    h3 {
        color: $text-discreet;
        font-style: italic;
    }
}
