@import "../../styles/fonts";
@import "../../styles/helpers";

.footer {
    @include font-decor($size-big);

    background-color: $background-light;
    padding: $padding-regular;
    color: $text-light;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.made-with {
    svg {
        margin-left: 5px;
    }
}

.social-links {
    > *:not(:last-child) {
        margin-right: 10px;
    }
}
