@import "./assets/styles/settings.scss";

.avatar {
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: $hollow-shadow;

    &.rounded {
        border-radius: 50%;
    }
}
